<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class = "container my-3">
<table class = "table">
		<thead class = "table-dark"> <!--  제목을 처리 -->
		<tr>
			<th> 순서 </th>
			<th> 씨엔티 </th>
			<th> email </th>
			<th> name </th>
			<th> pass </th>
			<th> 가입일 </th>

		</tr>
		
		
		</thead>

		<tbody>
		<tr th:each="users ,loop : ${paging}"> 
			<td> [[${users.idx}]] </td>
			<td><a th:href ="@{|/users/detail/${users.idx}|}" >[[${users.cnt}]]</a>  </td>
			<td> [[${users.email}]] </td>
			<td> [[${users.name}]] </td>	
			<td> [[${users.pass}]] </td>
			<td> [[${users.regdate}]] </td>			
		</tr>


		</tbody>
		
</table>

<!--  페이징 처리 시작 -->
	<div th:if="${!paging.isEmpty()}">
		<ul class="pagination justify-content-center">
			<!-- 이전페이지가 존재하지 않으면 이전에 링크를 비활성화 -->
			<li class="page-item" th:classappend="${!paging.hasPrevious}? 'disabled'">
			
			<!-- paging.number : 현재페이지 -->
				<a class="page-link" th:href="@{|?page=${paging.number-1}|}">
				이전</a>
				
			</li>
			
			<!-- 첫페이지 부터 마지막 페이지까지 루프를 돌려서 출력 -->
			<li th:each="page : ${#numbers.sequence(0,paging.totalPages-1)}"
				th:if="${page >= paging.number-5 and page <= paging.number+5}"
				th:classappend="${page==paging.number} ? 'active'" class="page-item"
			>
				<!-- each로 계속 반복해서 돌아감 -->
				<a th:text=${page} class="page-link" th:href="@{|?page=${page}|}"></a>
			</li>
			
			
			<!-- 다음을 처리하는 블락 -->
			<li class="page-item" th:classappend="${!paging.hasNext}? 'disabled'">
				<a class="page-link" th:href="@{|?page=${paging.number+1}|}">
					다음
				</a>
			</li>
			
		</ul>	
	</div>
	<!--  페이징 처리 끝 -->
	
	<!-- 새글 등록 버튼 -->
	<a th:href="@{/users/create}" class="btn btn-primary">질문 등록하기</a>
		
	</div>




</div>
</html>