<!DOCTYPE html>
<html>
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
</head>
<body>
<h1>UsersTable 출력</h1>
<hr>


<table>
		<tr>
			<th> 순서 </th>
			<th> 씨엔티 </th>
			<th> email </th>
			<th> name </th>
			<th> pass </th>
			<th> 가입일 </th>
		</tr>
		
		<tr> 
			<td> [[${users.idx}]] </td>
			<td><a>[[${users.cnt}]]</a>  </td>
			<td> [[${users.email}]] </td>
			<td> [[${users.name}]] </td>	
			<td> [[${users.pass}]] </td>
			<td> [[${users.regdate}]] </td>			
		</tr>
</table>
<form action = "/users/create" method = "post">
	<table>
		<tr>
			<td>email</td>
			<td>name</td>
			<td>pass</td>
		</tr>
		<tr>
			<td><input type="text" name="email"></td>
			<td><input type="text" name="name"></td>
			<td><input type="password" name="pass"></td>
		</tr>
		<tr>
			<td><input type="submit" value="주성이 바보"></td>
		</tr>
	
	</table>
</form>

</body>
</html>