<html layout:decorate="~{layout}">
<div layout:fragment="content" class="container">
<h5 class="my-3 border-bottom pd-2">
	회원정보 등록
</h5>

<form th:action = "@{/users/create}" th:object ="${usersForm}" method = "post">
	<!-- 오류 메시지 출력 부분 -->
	<!-- 외부 파일에서 import ~{파일명::태그이름} -->
	<div th:replace="~{form_errors::formErrorsFragment}"></div>
	
	<div class="mb-3">
		<label for="email" class="form-lable">이메일</label>
		<input type="text" name="email" th:field="*{email}" id="email" class="form-controll">
	</div>

		<div class="mb-3">
			<label for="name" class="form-lable">이름</label> 
			<input	type="text" name="name" th:field="*{name}" id="name" class="form-controll">
		</div>

		<div class="mb-3">
			<label for="pass" class="form-lable">비밀번호</label> 
			<input type="password" name="pass" th:field="*{pass}" id="pass" class="form-controll">
		</div>

		<tr>
			<td><input type="submit" value="저장하기" class="btn btn-primary my-2"></td>
		</tr>
	
	
</form>

</body>
</html>