<html layout:decorate="~{layout}">
	
<div layout:fragment="content" class = "container my-3">
<table class = "table">
		<thead class = "table-dark"> <!--  제목을 처리 -->



		<tr>
			<th> 순서 </th>
			<th> 씨엔티 </th>
			<th> email </th>
			<th> name </th>
			<th> pass </th>
			<th> 가입일 </th>
		</tr>
		</thead>
		
		<tr> 
			<td> [[${users.idx}]] </td>
			<td><a>[[${users.cnt}]]</a>  </td>
			<td> [[${users.email}]] </td>
			<td> [[${users.name}]] </td>	
			<td> [[${users.pass}]] </td>
			<td> [[${users.regdate}]] </td>			
		</tr>
		
</table>

</form>

</body>
</html>